{% extends 'base.html.twig' %}

{% block title %}
  Home page
{% endblock %}
{% block body %}
  <body style="padding: 30px; margin-left:100px;margin-right:100px;">
    <div style="width: 100%;">
      <h1>Symfony authentification app 🔒</h1>
    </div>
  </body>
{% endblock %}
